@media (max-width:1023px){
    .slider-wrapper .slide-button{
        display: none !important;
    }
    .slider-wrapper .image-list{
        gap:10px;
        margin-bottom: 15px;
    }

.slider-wrapper .image-list .image-item{
    width: 280px;
    height:380px;

}
.slider-scrollbar .scrollbar-thumb{
    width: 20%;
}
}

@media(max-width: 991px){
    footer{
        padding: 40px;
    }
    footer .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
    .copyrightText{
        padding: 8px 40px;
    }
}
@media(max-width: 768px){
    footer .footer-container{
        grid-template-columns: repeat(1,1fr);
}
}