
/*header styles*/
.logo{
    width: 50px;
    height: 50px;
    margin-left:50px;
}
body{
    background-color: antiquewhite;
}
.header{
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-between;
    align-items: center;
    /*position: fixed;*/
    top: 0;
    left: 0;


}
.navigation{
    height:50px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0 auto;
    margin-top:50px;
    
    
}
.home{
    text-decoration: underline;
    
}
.home:hover{
    background-color: red;
}

.ul-class{
    margin-right: 100px;
    padding-right: 20px;
    display: flex;
    vertical-align: middle;
    margin-right:100px;

}
.li-class{
    vertical-align: middle;
    font-family:"Inter", sans-serif ;
    font-size: 16px;
    color:black;
    padding-right:100px;

}
.login{
    margin-left:20px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    border: none;
    color: black;
}
.sign-up{
    color:black;
    font-size: 20px;
    border-radius: 10px;
    height: 40px;
    background-color:orange;
    
}

/*first section */
.first-section{
    height: 600px;
    background-image: url(../images/crop.webp);
    background-repeat: no-repeat;
    background-size: cover;

}


h1{
    text-align:left;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color:white;
    padding: 100px;
    
}
.section1-p{
    margin-left:20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:white;

}
/*second section*/
.main-div{
    width: 1200px;
    height:681px;

}
.left-side{
    width: 547px;
    height:681px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 200px;
    padding-top: 50px;
}
.right-side{
    width: 578px;
    height:402px;
    padding-left: 200px;
    display: inline-block;
    vertical-align: middle;
    
}
.section2-image{
    width: 400px;
    
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color:black;
    padding:10px;
}
.section2-p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
    padding: 10px;
}
.read-bt{
    margin: 20px;
    padding: 10px;
    color:black;
    background-color: tomato;
}
/*section3*/
.section3{
 height:700px;
}


.left-side2{
    width: 502px;
    height:216px;
    padding-left: 200px;
    display: inline-block;
    vertical-align: middle;
}
.right-side2{
    width: 502px;
    height: 216px;
    margin-left: 150px;
    padding-left: 150px;
    display: inline-block;
    vertical-align: middle;
} 
h3{
    font-family: "Syncopate", sans-serif; 
    font-weight: bold;
    font-size: 20px;
    color:red;
}
.explore{
    margin-top:20px;
    margin-left:5px;
    width:185px;
    height:50px;
    border-radius: 10px;
    text-align: center;
    background-color: #9F7464;

}
.section3-p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color:#373737;
    padding: 10px;
}


.container{
   width: 1200px;
   height: 95%;
    margin-left:150px;
    margin-top:100px;
}
.slider-wrapper{
    position:relative;
}
.slider-wrapper .slide-button:hover{
    background: #444;
}


.slider-wrapper .slide-button{
    position: absolute;
    top:50%;
    height:50px;
    width: 50px;
    color:#fff;
    border:none;
    outline:none;
    background: black;
    font-size: 2.2rem;
    cursor:pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button#prev-slide{
    left:-20px;
    display: none;

}
.slider-wrapper .slide-button#next-slide{
    right:-20px;
}
.slider-wrapper .image-list{
    display: grid;
    gap:18px;
    font-size: 0;
    margin-bottom:30px;
    scrollbar-width: none;
    overflow-x: auto;
    grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list::-webkit-scrollbar{
    display:none;
}
.slider-wrapper .image-list .image-item{
    width: 325px;
    height:400px;
    object-fit: cover;
}
.container .slider-scrollbar{
    height:24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.slider-scrollbar .scrollbar-track{
    height:2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}
.slider-scrollbar:hover .scrollbar-track{
    height:4px;

}
.slider-scrollbar .scrollbar-thumb{
    height:100%;
    width: 50%;
    position: absolute;
    background: #000;
    border-radius: inherit;
    cursor:grab;
} 

.slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top:-2px;
}
.slider-scrollbar .scrollbar-thumb::after{
    content:'';
    position: absolute;
    right:0;
    left:0;
    top:-10px;
    bottom:-10px;

}
.title{
    font-family:"Roboto Slab", serif; 
    font-size: 20px;
    font-weight: 10px;
    text-align: center;
    margin-top:50px;
    color:black;
}
.title:hover{
    color:red;
}
/*section4*/
.section4-maindiv{
    margin-top: 200px;
    padding: 50px;
    padding-left:150px;
}
.section4-leftside{
    width: 502px;
    height:216px;
    padding-left: 200px;
    display: inline-block;
    vertical-align: middle;
}
.section4-rightside{
   width: 502px;
    height:216px;
    padding-left: 200px;
    display: inline-block;
    vertical-align: middle;
}
h5{
    font-family:'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 30px;
    color:black;
}
.section4-button{
    width: 150px;
    border-radius: 50px;
    margin-top: 50px;
    color: white;
    background-color: black;
    
}
.gallery{
    display: block;
    float:left;
    margin: 0 auto;
    margin-left:60px;
    padding: 10px;
}
.description{
    padding: 10px;
}
.gallery-h6{
    font-family:"Roboto", sans-serif;
    font-size: 15px;
    color:red;
    font-weight: 20px;
}
/*section5*/
.maindiv-section5{
    width: 1200px;
    height:600px;
    margin: 0 auto;

    

}
.section5-leftside{
    margin-left:150px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 100px;

}
.image-section5{
    width: 412px;
    height:328px;
}

.form-container{
    display:inline-block;
    vertical-align: middle;
    margin-left: 150px;  

}
#form{
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-family:'Poppins', sans-serif; ;
    font-size: 12px;

}
#form h6{
    color:black;
    text-align: center;
    font-size: 18px;
}
#form button{
    padding: 10px;
    margin-top:10px;
    margin: o auto;
    width: 100%;
    color: white;
    background-color: rgb(41,57,194);
    border: none;
    border-radius: 4px;
    
}

.input-control{
    display: flex;
    flex-direction: column;
}
.input-control input{
border: 2px solid #f0f0f0;
border-radius: 4px;
display: block;
font-size: 12px;
padding: 10px;
width: 100%;


}
.input-control input:focus {
    outline: 0;

}
.input-control.success input{
    border-color: #09c372;
}

.input-control .error input{
    border-color: #ff3860;
    font-size: 9px;
    height: 13px;
}