*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/*header styles*/
.logo{
    width: 50px;
    height: 50px;
    margin-left:50px;
}
body{
    background-color: antiquewhite;
}
.header{
    width: 100%;
    background-color: antiquewhite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index:999;
    top: 0;
    left: 0;
}
.header.active{
   width: 100%;
    background-color:peachpuff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index:999;
    top: 0;
    left: 0;
}

/*nav{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    
}*/

nav ul {
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
nav li{
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
nav a{
    height: 100%;
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:black;
}
nav a:hover{
    background-color: whitesmoke;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color:antiquewhite;
    -webkit-box-shadow: -10px 0 10px rgba( 0, 0, 0, 0.1);
            box-shadow: -10px 0 10px rgba( 0, 0, 0, 0.1);
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}

/*first section */
.first-section{
    height: 600px;
    background-image: url(../images/crop.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align:left;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color:white;
    padding: 100px;
}
.section1-p{
    margin-left:20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:white;
}

/*second section*/
.section-2{
    width: 1200px;
    

}

.main-div{
    width: 1200px;
    height:600px;

}
.left-side{
    width: 547px;
    height:681px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 200px;
    padding-top: 50px;
}
.right-side{
    width: 578px;
    height:402px;
    padding-left: 200px;
    display: inline-block;
    vertical-align: middle;
    
}
.section2-image{
    width: 400px;
    
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color:black;
    padding:10px;
}
.section2-p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
    padding: 10px;
}
.read-bt{
    margin: 20px;
    padding: 10px;
    color:black;
    background-color: tomato;
}
/*section3*/
.section3{
 height:700px;
}


.left-side2{
    width: 502px;
    height:216px;
    padding-left: 200px;
    display: inline-block;
    vertical-align: middle;
}
.right-side2{
    width: 502px;
    height: 216px;
    margin-left: 150px;
    padding-left: 150px;
    display: inline-block;
    vertical-align: middle;
} 
h3{
    font-family: "Syncopate", sans-serif; 
    font-weight: bold;
    font-size: 20px;
    color:red;
}
.explore{
    margin-top:20px;
    margin-left:5px;
    width:185px;
    height:50px;
    border-radius: 10px;
    text-align: center;
    background-color: #9F7464;

}
.section3-p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color:#373737;
    padding: 10px;
}


.container{
   width: 1200px;
   height: 95%;
    margin-left:150px;
    margin-top:100px;
}
.slider-wrapper{
    position:relative;
}
.slider-wrapper .slide-button:hover{
    background: #444;
}


.slider-wrapper .slide-button{
    position: absolute;
    top:50%;
    height:50px;
    width: 50px;
    color:#fff;
    border:none;
    outline:none;
    background: black;
    font-size: 2.2rem;
    cursor:pointer;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.slider-wrapper .slide-button#prev-slide{
    left:-20px;
    display: none;

}
.slider-wrapper .slide-button#next-slide{
    right:-20px;
}
.slider-wrapper .image-list{
    display: -ms-grid;
    display: grid;
    gap:18px;
    font-size: 0;
    margin-bottom:30px;
    scrollbar-width: none;
    overflow-x: auto;
    -ms-grid-columns: 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr;
    grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list::-webkit-scrollbar{
    display:none;
}
.slider-wrapper .image-list .image-item{
    width: 325px;
    height:400px;
    -o-object-fit: cover;
       object-fit: cover;
}
.container .slider-scrollbar{
    height:24px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.slider-scrollbar .scrollbar-track{
    height:2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}
.slider-scrollbar:hover .scrollbar-track{
    height:4px;

}
.slider-scrollbar .scrollbar-thumb{
    height:100%;
    width: 50%;
    position: absolute;
    background: #000;
    border-radius: inherit;
    cursor:-webkit-grab;
    cursor:grab;
} 

.slider-scrollbar .scrollbar-thumb:active{
    cursor: -webkit-grabbing;
    cursor: grabbing;
    height: 8px;
    top:-2px;
}
.slider-scrollbar .scrollbar-thumb::after{
    content:'';
    position: absolute;
    right:0;
    left:0;
    top:-10px;
    bottom:-10px;

}
.title{
    font-family:"Roboto Slab", serif; 
    font-size: 20px;
    font-weight: 10px;
    text-align: center;
    margin-top:50px;
    color:black;
}
.title:hover{
    color:red;
}
/*section4*/
.section4-maindiv{
    margin-top: 200px;
    padding: 50px;
    padding-left:150px;
}
.section4-leftside{
    width: 502px;
    height:216px;
    padding-left: 200px;
    display: inline-block;
    vertical-align: middle;
}
.section4-rightside{
   width: 502px;
    height:216px;
    padding-left: 200px;
    display: inline-block;
    vertical-align: middle;
}
h5{
    font-family:'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 30px;
    color:black;
}
.section4-button{
    width: 150px;
    border-radius: 50px;
    margin-top: 50px;
    color: white;
    background-color: black;
    
}
.gallery{
    display: block;
    float:left;
    margin: 0 auto;
    margin-left:60px;
    padding: 10px;
}
.description{
    padding: 10px;
}
.gallery-h6{
    font-family:"Roboto", sans-serif;
    font-size: 15px;
    color:red;
    font-weight: 20px;
}
/*section5*/
.maindiv-section5{
    width: 1200px;
    height:600px;
    margin: 0 auto;
}
.section5-leftside{
    margin-left:150px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 100px;

}
.image-section5{
    width: 412px;
    height:328px;
}

.form-container{
    display:inline-block;
    vertical-align: middle;
    margin-left: 150px;  

}
#form{
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-family:'Poppins', sans-serif; ;
    font-size: 12px;

}
#form h6{
    color:black;
    text-align: center;
    font-size: 18px;
}
#form button{
    padding: 10px;
    margin-top:10px;
    margin: o auto;
    width: 100%;
    color: white;
    background-color: rgb(41,57,194);
    border: none;
    border-radius: 4px;
    
}

.input-control{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.input-control input{
border: 2px solid #f0f0f0;
border-radius: 4px;
display: block;
font-size: 12px;
padding: 10px;
width: 100%;


}
.input-control input:focus {
    outline: 0;

}
.input-control.success input{
    border-color: #09c372;
}

.input-control .error input{
    border-color: #ff3860;
    font-size: 9px;
    height: 13px;
}
.footer{
    position: relative;
    width: 100%;
    height: 400px;
    padding: 50px 100px;

    background-color: #9F7464;
}
.footer-container{
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
footer .footer-container .sec  h6{
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    color:#fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .footer-container .sec  h6::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left:0;
    width: 50px;
    height: 2px;
    background: black;
}
footer .footer-container .sec p{
    color:#fff;
}
.sci{
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50px)[4];
    grid-template-columns: repeat(4,50px);
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: bisque;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a :hover{
    color: blue;
}
.quicklinks{
    position: relative;
}
.quicklinks li a{
    color: #f7f7f7;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks li a:hover{
    color:yellow;

}
.info{
    position: relative;
}
.info li{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30px 1fr;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;

}
.info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
}
.info li span{
    color:#fff;
}
.info a{
    color:#fff;
}
.info a:hover{
    color:yellow;
}
.copyrightText{
    width: 100%;
    background: #9F7464;
    padding: 8px 100px;
    text-align: center;
    color:white;
}

.error {
    color: red;
}

.selectWrapper {
    margin-top: 10px;
}
select {
    width: 100%;
    margin-top: 5px;
}

